<div class='film-modal' data-id={{id}}>
  <button class='film-modal-close' type='button'>
    <svg class='modal-close-ico' width='30' height='30' viewBox='0 0 30 30'>
      <path class='modal-close-ico' d='M8 8L22 22' stroke='black' stroke-width='2'></path>
      <path class='modal-close-ico' d='M8 22L22 8' stroke='black' stroke-width='2'></path>
    </svg>
  </button>
  <div class='film-poster-wrapper'>
    <button class='modal-btn-trailer' type='button'>
      <img
        class='youtube-icon'
        src='https://download.logo.wine/logo/YouTube/YouTube-Icon-Full-Color-Logo.wine.png'
        width='90'
        height='70'
      />
    </button>
    <img
      class='film-poster-img'
      src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
      alt='{{title}}'
    />
  </div>
  <div class='film-info-wrapper'>
    <h2 class='film-modal-header'>{{title}}</h2>
    <ul class='film-modal-info'>
      <li class='film-modal-item'>
        <p class='film-item-title'>Vote / Votes</p>
        <p class='film-item-desc'>
          <span class='vote-mod color'>{{vote_average}}</span>
          /
          <span class='vote-mod'>{{vote_count}}</span>
        </p>
      </li>
      <li class='film-modal-item'>
        <p class='film-item-title'>Popularity</p>
        <p class='film-item-desc'>{{popularity}}</p>
      </li>
      <li class='film-modal-item'>
        <p class='film-item-title'>Original Title</p>
        <p class='film-item-desc original-title'>{{original_title}}</p>
      </li>
      <li class='film-modal-item'>
        <p class='film-item-title'>Genre</p>
        <p class='film-item-desc genre-desc'>
          {{#each genres}}
            {{name}}{{#unless @last}},{{/unless}}
          {{/each}}
        </p>
      </li>
    </ul>
    <h3 class='film-modal-about original-title'>ABOUT</h3>
    <p class='film-modal-overview'>{{overview}}</p>
    <div class='film-modal-btns'>
      <button class='modal-btn-watched' type='button'>add to Watched</button>
      <button class='modal-btn-queue' type='button'>add to queue</button>
    </div>
  </div>
</div>