{{#each this}}
  <li class='cards-collection-item' data-id={{id}}>
    <div class='card-poster'>
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
        loading='lazy'
      />
      <span class='card-vote-average'>{{vote_average}}</span>
    </div>
    <div class='card-info'>
      <p class='card-title'>{{title}}</p>
      <p class='card-text'>{{#each genres}} {{/each}} | {{release_date}}</p></p>
    </div>
  </li>
{{/each}}