{{#each this}}
<div class="team__item">
  <div class="front">
              <img
            class="team__image"
            src="images/team/photo@1uk.jpg"
            alt="{{name}}"
          />
      <div class="team-meta">
          <p class="team__item-title">{{name}}</p>
          <p class="team__item-title">{{family}}</p>
          <p class="team__item-text">{{rol}}</p>
      </div>        
  </div>
  <div class="back">
          <p class="team__item-title">{{name}}</p>
          <p class="team__item-title">{{family}}</p>
          <p class="team__item-text">{{description}}</p>
  </div>
</div>
{{/each}}